
<% unless notice.blank? %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong id="notice"><%= notice %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<h1 class="my-5 text-center font-weight-bolder text-primary">Edit Data User</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Data Source</label>
          <div class="col-sm-8">
            <%= f.text_field :user_type, class: 'dtSource form-control', readonly: true %>
          </div>
        </div>
      </fieldset>
      <fieldset class="manual ldap">
        <div class="form-group">
          <label class="col-sm-2 control-label">Nama</label>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
      </fieldset>
      <fieldset class="manual ldap">
        <div class="form-group">
          <label class="col-sm-2 control-label">Username</label>
          <div class="col-sm-8">
            <%= f.text_field :username, class: 'form-control' %>
          </div>
        </div>
      </fieldset>
      <fieldset class="manual ldap">
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-8">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>
      </fieldset>
      <% if @user.user_type == "Manual" %>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
      <% else %>
        <% f.hidden_field :password, value: @user.password %>
      <% end %>
      <fieldset class="manual ldap">
        <div class="form-group">
          <label class="col-sm-2 control-label">Divisi</label>
          <div class="col-sm-8">
            <% if current_user.roles.any? { |r| r.name == "superadmin" || r.name == 'Admin Persediaan' } %>

<!--              <input type="text" value="<%#= current_user.division.try(:nama_divisi) %>" readonly="" class="form-control">-->
              <%#= f.hidden_field :division_id, class: 'form-control', value: current_user.division_id %>
            <%# else %>
              <%= f.collection_select :division_id, Division.all, :id, :nama_divisi, {include_blank: true}, class: 'form-control', id: 'divisi' %>
            <% end %>
          </div>
        </div>
      </fieldset>
      <fieldset class="manual ldap">
        <div class="form-group">
          <label class="col-sm-2 control-label">Role</label>
          <div class="col-sm-8">
              <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
                <%= m.label class: 'checkbox-inline' do %>
                  <%= m.check_box class: 'checkbox-inline' %>
                  <%= m.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </fieldset>
      <fieldset class="manual ldap">
        <div class="form-group">
          <label class="col-sm-2 control-label" style="margin-right: 25px">Status</label>
          <div class="col-sm-8">
            <label class="checkbox c-checkbox c-checkbox-rounded">
              <%= f.check_box :state, type: 'checkbox' %>
              <span class="fa fa-check"></span>Set Aktif</label>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function () {

        if ($(".dtSource").val() == "Manual") {
            $('.ldap').hide();
            $('.manual').show();
            $('#users dodol').disabled = false;
            $('#users username').required = true;
            $('#users password').required = true;
            $('#users email').required = true;
        } else if ($(".dtSource").val() == "LDAP") {
            $('.manual').hide();
            $('.ldap').show();
            $('#users dodol').disabled = true;
            $('#users username').required = false;
            $('#users password').required = false;
            $('#users email').required = false;
        } else {
            $('.ldap').hide();
            $('.manual').hide();
            $('#users dodol').disabled = false;
        }
    });

    $("#dodol").select2({
        theme: "bootstrap"
    });
    $("#divisi").select2({
        theme: "bootstrap"
    });
    $("#area").select2({
        theme: "bootstrap"
    });

    jQuery(function() {
        var area = $('#area').html();
        console.log(area);

        return $('#divisi').change(function() {
            var divisi, options;
            divisi = $('#divisi :selected').text();
            options = $(area).filter("optgroup[label=" + divisi + "]").html();
            console.log(options);
            if (options) {
                return $('#area').html(options);
            } else {
                return $('#area').empty();
            }
        })
    });

</script>
