<% unless notice.blank? %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong id="notice"><%= notice %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<h1 class="my-5 text-center font-weight-bolder text-primary">Data User</h1>


<div class="row px-3">
  <div class="col-12 mt-3 d-flex justify-content-right">
    <%= link_to new_user_path, class:"btn btn-primary btn-custom rounded-pill text" do %>
      <i class="fas fa-plus"></i>
      <span>Tambah User</span>
    <% end %>
  </div>
</div>

<br>

<div class="row mx-0">
  <div class="col-12">
    <div class="table-responsive">
      <table id="dataTable" class="table table-bordered">
        <thead class="bg-primary">
        <tr class="text-center">
         <th class="alig-middle" style="width: 5%;">No</th>
          <th class="align-middle">Nama</th>
          <th class="align-middle">Username</th>
          <th class="align-middle">Divisi</th>
          <th class="align-middle">Role</th>
          <th class="align-middle">Status</th>
          <th class="align-middle">Aksi</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each_with_index do |user, index| %>
          <% division = Division.find_by(id: user.division_id) %>
          <tr>
            <td class="align-middle text-center">
              <%= index+1 %>
                </td>
            <td class="align-middle text-center"><%= user.name %></td>
            <td class="align-middle text-center"><%= user.username %></td>
            <td class="align-middle text-center"><%= division.try(:nama_divisi) %></td>
            <td class="align-middle text-center"><%= user.role_assignments.each_with_index.map {|role_assignment| "#{role_assignment.role.try(:name)}"}.join(", ") %></td>
            <% if user.state %>
              <td class="align-middle text-center">
                <button class='btn btn-success btn-sm text-white py-1 mb-1 px-2' disabled>
                  ACTIVE
                </button>
              </td>
            <% else %>
              <td class="align-middle text-center">
                <button class='btn btn-danger btn-sm text-white py-1 mb-1 px-2' disabled>
                  INACTIVE
                </button>
              </td>
            <% end %>
            <td class="align-middle text-center">
              <%= link_to edit_user_path(user), class: 'btn btn-warning btn-sm rounded-circle text-white py-1 mb-1 px-2' do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to user, method: :delete, class: 'btn btn-danger btn-sm rounded-circle text-white py-1 mb-1 px-2' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
