<% unless notice.blank? %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong id="notice"><%= notice %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<div class="row mx-0 px-5">
  <div class="container py-4 px-5">

    <%= form_for @role, html: { class: 'form-horizontal' } do |f| %>

    <div class="mb-3 row">
      <%= f.label :name, 'Nama Role', class: "col-sm-4 col-form-label"  %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-sm-offset-2 mb-3">
        <%= link_to 'Kembali', roles_path, class: 'btn btn-secondary pull-left btn-custom rounded-pill' %>
        <button type=submit class="btn btn-primary text-white btn-custom rounded-pill pull-right">Simpan</button>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
    $('#selectAll').click(function() {
        if (this.checked) {
            $(':checkbox').each(function() {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });
</script>
