<% unless notice.blank? %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong id="notice"><%= notice %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<h1 class="my-5 text-center font-weight-bolder text-primary">Data Barang</h1>

<div class="row px-3">
  <div class="col-12 mt-3 d-flex justify-content-right">
    <%= link_to new_item_path, class:"btn btn-primary btn-custom rounded-pill text" do %>
      <i id="my-icon" class="fas fa-plus"></i>
      <span>Tambah Barang</span>
    <% end %>
  </div>
</div>

<br>

<div class="row mx-0">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable">
        <thead class="bg-primary">
        <tr class="text-center">
         <th class="align-middle">No</th>
          <th class="align-middle">Nama Barang</th>
          <th class="align-middle">Ukuran</th>
          <th class="align-middle">Tipe</th>
          <th class="align-middle">Merek</th>
          <th class="align-middle">Serial</th>
          <th class="align-middle">Lain - lain</th>
          <th class="align-middle">Spesifikasi barang</th>
          <th class="align-middle">Aksi</th>
        </tr>
        </thead>
        <tbody>
        <% @items.each_with_index do |item, index| %>
          <% item_group = ItemGroup.find_by(id: item.item_group_id) %>
          <tr>
            <td class="align-middle text-center"><%= index+1 %></td>
            <td class="align-middle text-center"><%= item.nama_barang %></td>
            <td class="align-middle text-center"><%= item.ukuran %></td>
            <td class="align-middle text-center"><%= item.tipe %></td>
            <td class="align-middle text-center"><%= item.merek %></td>
            <td class="align-middle text-center"><%= item.serial %></td>
            <td class="align-middle text-center"><%= item.lain %></td>
            <td class="align-middle text-center"><%= item.item_group.try(:kelompok_barang) %></td>
            <td class="align-middle text-center">
              <%= link_to item,  class:"btn btn-success btn-sm rounded-circle text-white py-1 mb-1 px-2" do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= link_to edit_item_path(item),  class:'btn btn-warning btn-sm rounded-circle text-white py-1 mb-1 px-2' do  %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to item, method: :delete, class:"btn btn-danger btn-sm rounded-circle text-white py-1 mb-1 px-2",
                          data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>