<p id="notice"><%= notice %></p>

<h1 class="my-5 text-center font-weight-bolder">Data Pemeliharaan Asset</h1>

<div class="row mx-5 mb-3">
  <div class="col-12">
    <div class="navbar navbar-expand-sm menu-bar">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="data-pemeliharaan-asset-tab" data-toggle="tab" href="#data-pemeliharaan-asset" role="tab" aria-controls="data-pemeliharaan-asset" aria-selected="true">Data Pemeliharaan Asset</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="data-barang-pemeliharaan-asset-tab" data-toggle="tab" href="#data-barang-pemeliharaan-asset" role="tab" aria-controls="data-barang" aria-selected="false">Data Barang</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="data-pengeluaran-penjualan" role="tabpanel" aria-labelledby="data-pengeluaran-penjualan-tab">
    <div class="row mx-0 px-5">
      <div class="container py-4 px-5">

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Nomor Pengeluaran </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" value="<%= @maintenance_asset.nomor_pengeluaran %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Tanggal Pemeliharaan Aset </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" value="<%= @maintenance_asset.tanggal_pengeluaran %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Jenis Pengeluaran </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" value="<%= @maintenance_asset.jenis_pengeluaran %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Nama Inputer</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="jenis_pengeluaran" value="<%= @maintenance_asset.nama_inputer %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Kode Proyek</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="jenis_pengeluaran" value="<%= @maintenance_asset.kode_proyek %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Nama Proyek</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" value="<%= @maintenance_asset.nama_proyek %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Kode Akun</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" value="<%= @maintenance_asset.kode_akun %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Nama Akun</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" value="<%= @maintenance_asset.nama_akun %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Keterangan Pengeluaran </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" value="<%= @maintenance_asset.keterangan_pengeluaran %>" readonly>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Dokumen Pendukung</label>
          <div class="col-sm-8">
            <% if @maintenance_asset.dokumen_pengeluaran.blank? %>
              <h5 class="text-danger">tidak ada dokumen yg di upload</h5>
            <%  else  %>
              <% @maintenance_asset.dokumen_pengeluaran.each do |d|  %>
                <%=  text_field :maintenance_asset, :dokumen_pengeluaran, multiple: true, value: d.identifier, class:"form-control", :readonly => true  %>
                <%=  link_to "Download disini", @maintenance_asset.dokumen_pengeluaran[0].url, :target => "_blank"  %>
              <%  end  %>
            <%  end %>
          </div>
        </div>


        <div class="mb-3 justify-content-md-end">
          <%= link_to 'Back', maintenance_assets_path, class:"btn btn-warning text-white btn-custom rounded-pill" %>
          <%= link_to 'Edit', edit_maintenance_asset_path(@maintenance_asset), class:"btn btn-info text-white btn-custom rounded-pill mr-2" %>
        </div>

      </div>
  </div>
</div>
  <div class="tab-pane fade" id="data-barang-pemeliharaan-asset" role="tabpanel" aria-labelledby="data-barang-pemeliharaan-asset-tab">
    <div class="row mx-0 px-5">
      <div class="col-12">
        <br>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
            <thead class="bg-primary">
            <tr class="text-center">
              <th class="align-middle">Kode QR</th>
              <th class="align-middle" style="width: 24%;">Nama Barang</th>
              <th class="align-middle" style="width: 24%;">Spesifikasi Barang</th>
              <th class="align-middle" style="width: 7%;">Satuan</th>
              <th class="align-middle" style="width: 8%;">Kode Proyek</th>
              <th class="align-middle" style="width: 8%;">Nama Proyek</th>
              <th class="align-middle" style="width: 11%;">Gudang</th>
              <th class="align-middle" style="width: 11%;">Lokasi Penempatan</th>
              <th class="align-middle" style="width: 11%;">Jumlah Tersedia</th>
              <th class="align-middle" style="width: 11%;">Jumlah Permintaan</th>
              <th class="align-middle" style="width: 11%;">Jumlah Dikeluarkan</th>
              <%# if current_user.roles.any? { |r| r.name == 'superadmin' || r.name == 'Staff Gudang' || r.name == 'User Komersial' } %>
                <th class="align-middle" style="width: 10%;">Aksi</th>
              <%# end %>
            </tr>
            </thead>
            <%# @sale_items.each do |sale_item| %>
              <tbody>
              <%# item_measurement = Measurement.find_by(id: sale_item.measurement_id) %>
              <%# item = Item.find_by(id: sale_item.receive_items.item_id) %>
              <%# item = Item.find_by(id: sale_item.item)%>
              <%# warehouse = Warehouse.find_by(id: sale_item.warehouse_id) %>
              <%# kode_proyek = Receive.find_by(id: sale_item.receive)%>
              <%# nama_proyek = Receive.find_by(id: sale_item.receive_items)%>

              <tr>
                <!--              <td class="align-middle"><%#= item.try(:kode_qr) %></td>-->
                <td class="align-middle">-</td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle">
                  <%#= nama_proyek.try(:nama_proyek) %>
                </td>
                <%# if current_user.roles.any? { |r| r.name == 'superadmin' || r.name == 'User Komersial' } %>
                <!--            <td class="align-middle"><%#= sale_item.lokasi_penempatan %></td>-->
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <%# end %>

                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>


                <% if current_user.roles.any? { |r| r.name == 'superadmin' || r.name == 'Staff Gudang' || r.name == 'User Komersial' } %>
                  <td class="align-middle text-center">
                    <%#= link_to edit_sale_item_path(sale_item), class:"btn btn-success btn-sm rounded-circle text-white py-1 mb-1 px-2" do  %>
                      <i class="fas fa-pencil-alt"></i>
                    <%# end %>
                    <%# if current_user.roles.any? { |r| r.name == 'superadmin' || r.name == 'User Komersial' } %>
                    <%#= link_to sale_item, method: :delete, data:{ confirm: 'Apakah anda yakin ingin menghapus?'},remote: true, class:"btn btn-danger btn-sm rounded-circle text-white py-1 mb-1 px-2" do %>
                    <!--                      <i class="fas fa-trash-alt"></i>-->
                    <%# end %>
                    <%# end %>
                  </td>
                <%# end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <br>

        <%# if current_user.roles.any? { |r| r.name == 'User Komersial' }  %>
          <%#= form_with(model: @sale, local: true) do |form| %>
            <%# if @sale.errors.any? %>
<!--              <div id="error_explanation">-->
<!--                <h2><%#= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>-->
<!--                <ul>-->
                  <%# sale.errors.full_messages.each do |message| %>
<!--                    <li><%#= message %></li>-->
                  <%# end %>
<!--                </ul>-->
<!--              </div>-->
            <%# end %>
            <%#= form.hidden_field :status_id, :value => 4, id: "status_id" %>
<!--            <br>-->
            <%#= link_to 'Back', sales_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
<!--            <button class="btn btn-success btn-custom rounded-pill" type="submit">Submit</button>-->
          <%# end %>
        <%# elsif current_user.roles.any? { |r| r.name == 'Staff Gudang' } %>
          <%#= form_with(model: @sale, local: true) do |form| %>
            <%# if @sale.errors.any? %>
<!--              <div id="error_explanation">-->
<!--                <h2><%#= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>-->
<!--                <ul>-->
                  <%# sale.errors.full_messages.each do |message| %>
<!--                    <li><%#= message %></li>-->
                  <%# end %>
<!--                </ul>-->
<!--              </div>-->
            <%# end %>
            <%#= form.hidden_field :status_id, :value => 6, id: "statusa_id" %>
<!--            <br>-->
            <%#= link_to 'Back', sales_path, class:"btn btn-secondary text-white btn-custom rounded-pill" %>
<!--            <button class="btn btn-success btn-custom rounded-pill" type="submit">Submit</button>-->
          <%# end %>
        <%# end %>

        <%# if current_user.roles.any? { |r| r.name == 'Kepala Gudang' } %>
          <%#= form_with(model: @sale, local: true) do |form| %>
            <%# if @sale.errors.any? %>
<!--              <div id="error_explanation">-->
<!--                <h2><%#= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>-->
<!--                <ul>-->
                  <%# sale.errors.full_messages.each do |message| %>
<!--                    <li><%#= message %></li>-->
                  <%# end %>
<!--                </ul>-->
<!--              </div>-->
            <%# end %>
            <%#= form.hidden_field :status_id, :value => 7, id: "status_id" %>
<!--            <label class="col-form-label font-weight-bolder">Catatan</label>-->
            <%#= form.text_area :catatan_penjualan, class: "form-control"%>
<!--            <div class="field">-->
<!--              <%#= form.label :status_approval %><br />-->
              <%#= form.label :status_approval, "APPROVE", :value => "approve"  %>
              <%#= form.radio_button :status_approval, true %>
              <%#= form.label :status_approval, "REJECT", :value => "reject" %>
              <%#= form.radio_button :status_approval, false %>
<!--            </div>-->
<!--            <br>-->
<!--            <button class="btn btn-success btn-custom rounded-pill" type="submit">Submit</button>-->
          <%# end %>
        <%# elsif current_user.roles.any? { |r| r.name == 'Admin Persediaan' } %>
          <%#= form_with(model: @sale, local: true) do |form| %>
            <%# if @sale.errors.any? %>
<!--              <div id="error_explanation">-->
<!--                <h2><%#= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>-->
<!--                <ul>-->
                  <%# sale.errors.full_messages.each do |message| %>
<!--                    <li><%#= message %></li>-->
                  <%# end %>
<!--                </ul>-->
<!--              </div>-->
            <%# end %>
            <%#= form.hidden_field :status_id, :value => 9, id: "status_id" %>
<!--            <label class="col-form-label font-weight-bolder">Catatan</label>-->
            <%#= form.text_area :catatan_penjualan, class: "form-control"%>
<!--            <div class="field">-->
<!--              <%#= form.label :status_approval %><br />-->
              <%#= form.label :status_approval, "APPROVE", :value => "approve"  %>
              <%#= form.radio_button :status_approval, true %>
              <%#= form.label :status_approval, "REJECT", :value => "reject" %>
              <%#= form.radio_button :status_approval, false %>
<!--            </div>-->
<!--            <br>-->
<!--            <button class="btn btn-success btn-custom rounded-pill" type="submit">Submit</button>-->
          <%# end %>
        <%# elsif current_user.roles.any? { |r| r.name == 'Kadep Persediaan' } %>
          <%#= form_with(model: @sale, local: true) do |form| %>
            <%# if @sale.errors.any? %>
<!--              <div id="error_explanation">-->
<!--                <h2><%#= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>-->
<!--                <ul>-->
                  <%# sale.errors.full_messages.each do |message| %>
<!--                    <li><%#= message %></li>-->
                  <%# end %>
<!--                </ul>-->
<!--              </div>-->
            <%# end %>
            <%#= form.hidden_field :status_id, :value => 3, id: "status_id" %>
<!--            <label class="col-form-label font-weight-bolder">Catatan</label>-->
            <%#= form.text_area :catatan_penjualan, class: "form-control"%>
<!--            <div class="field">-->
<!--              <%#= form.label :status_approval %><br />-->
              <%#= form.label :status_approval, "APPROVE", :value => "approve"  %>
              <%#= form.radio_button :status_approval, true %>
              <%#= form.label :status_approval, "REJECT", :value => "reject" %>
              <%#= form.radio_button :status_approval, false %>
<!--            </div>-->
<!--            <br>-->
<!--            <button class="btn btn-success btn-custom rounded-pill" type="submit">Submit</button>-->
          <%# end %>
        <%# end %>

        <%# if current_user.roles.any? { |r| r.name == 'superadmin' || r.name == 'Staff Gudang' } %>
        <!--          <h3 class="col-sm-4 col-form-label font-weight-bolder">Catatan Penjualan</h3>-->
        <%#= form.text_area :catatan_penjualan, class:"form-control" %>
        <%#= form.hidden_field :status_id, :value => 8, id: "status_id" %>
        <%# end %>


        <%#= form_with(model: @sale, local: true) do |form| %>
        <%# if @sale.errors.any? %>
        <!--              <div id="error_explanation">-->
        <!--                <h2><%#= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>-->
        <!--                <ul>-->
        <%# sale.errors.full_messages.each do |message| %>
        <!--                    <li><%#= message %></li>-->
        <%# end %>
        <!--                </ul>-->
        <!--              </div>-->
        <%# end %>
        <%# if current_user.roles.any? { |r| r.name == 'superadmin' || r.name == 'Staff Gudang' } %>
        <!--            <h3 class="col-sm-4 col-form-label font-weight-bolder">Catatan Penjualan</h3>-->
        <%#= form.text_area :catatan_penjualan, class:"form-control" %>

        <%#= form.hidden_field :status_id, :value => 8, id: "status_id" %>
        <%# end %>
        <!--                          <label for="" class="col-sm-4 col-form-label font-weight-bolder">Status Approval</label>-->
        <%#= form.radio_button :status_approval, 'approve', :checked => true, class: 'form-control', tag_value%>

        <!--            <br>-->
        <!--            <a href="#" class="btn btn-danger btn-custom rounded-pill">Reject</a>-->
        <!--              <button class="btn btn-success btn-custom rounded-pill" type="submit">Submit</button>-->
        <%# end %>

<!--        <div class="d-grid gap-2 d-md-flex mx-5 mb-3 justify-content-md-end">-->
          <%#= form_with(model: @sale, local: true) do |form| %>
            <%# if @sale.errors.any? %>
<!--              <div id="error_explanation">-->
<!--                <h2><%#= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>-->
<!--                <ul>-->
                  <%# sale.errors.full_messages.each do |message| %>
<!--                    <li><%#= message %></li>-->
                  <%# end %>
<!--                </ul>-->
<!--              </div>-->
            <%# end %>
            <%#= form.hidden_field :status_id, :value => 6, id: "status_id" %>
            <%# if current_user.roles.any? { |r| r.name == 'superadmin' || r.name == 8 } %>
<!--                    <button class="btn btn-success btn-custom rounded-pill" type="submit">Submit</button>-->
            <%# end %>
          <%# end %>
<!--        </div>-->
      </div>
    </div>
<!--    <div class="modal fade" id="tambahBarangPengeluaran" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--      <div class="modal-dialog modal-dialog-centered modal-xl">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header justify-content-md-center bg-gradient-primary">-->
<!--            <h5 class="modal-title text-white" id="editItemMaterialModalLabel">Tambah Pengeluaran Barang Penjualan</h5>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
            <%#= form_for(@sale_item, url: sale_items_path, method: 'POST') do |form| %>
              <%# if @sale_item.errors.any? %>
<!--                <div id="error_explanation">-->
<!--                  <h2><%#= pluralize(sale_item.errors.count, "error") %> prohibited this sale_item from being saved:</h2>-->
<!--                  <ul>-->
                    <%# sale_item.errors.full_messages.each do |message| %>
<!--                      <li><%#= message %></li>-->
                    <%# end %>
<!--                  </ul>-->
<!--                </div>-->
              <%# end %>



<!--              <div class="mb-3 row">-->
<!--                <label for="" class="col-sm-4 col-form-label font-weight-bolder">Kode QR</label>-->
<!--                <div class="col-sm-8">-->
                  <%#= form.collection_select :item_id, Item.all, :id, :kode_qr, {prompt: "pilih kode barang"}, class: "form-control", id:"kode-barang", onchange: "setNamaBarang()" %>
<!--                </div>-->
<!--              </div>-->

<!--              <div class="mb-3 row">-->
<!--                <label for="" class="col-sm-4 col-form-label font-weight-bolder">Nama Barang</label>-->
<!--                <div class="col-sm-8">-->
<!--                  <input type="text" class="form-control" id="nama-barang" readonly>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="mb-3 row">-->
<!--                <label for="" class="col-sm-4 col-form-label font-weight-bolder">Satuan</label>-->
<!--                <div class="col-sm-8">-->
                  <%#= form.collection_select :measurement_id, Measurement.all, :id, :nama_satuan, { prompt: true }, class: "form-control" %>
<!--                </div>-->
<!--              </div>-->

              <%# if current_user.roles.any? { |r| r.id == 1 || r.id == 8 } %>

<!--                <div class="mb-3 row">-->
<!--                  <label for="" class="col-sm-4 col-form-label font-weight-bolder">Lokasi Penempatan</label>-->
<!--                  <div class="col-sm-8">-->
                    <%#= form.text_field :lokasi_penempatan, class: "form-control" %>
<!--                  </div>-->
<!--                </div>-->

              <%# end %>
<!--              <div class="mb-3 row">-->
<!--                <label for="" class="col-sm-4 col-form-label font-weight-bolder">Jumlah Tersedia</label>-->
<!--                <div class="col-sm-8">-->
                  <%#= form.text_field :jumlah_tersedia, class: "form-control" %>
<!--                </div>-->
<!--              </div>-->

              <%# if current_user.roles.any? { |r| r.id == 1 || r.id == 8 } %>

<!--                <div class="mb-3 row">-->
<!--                  <label for="" class="col-sm-4 col-form-label font-weight-bolder">Jumlah Keluar</label>-->
<!--                  <div class="col-sm-8">-->
                    <%#= form.number_field :jumlah_keluar, class: "form-control" %>
<!--                  </div>-->
<!--                </div>-->
              <%# end %>
<!--               Start Hidden Field Section -->
              <%#= form.hidden_field :sale_id, id: "sale_id", :value => @sale.id %>
<!--               Finish Hideed Field Section -->


<!--              <div class="modal-footer">-->
<!--                <button class="btn btn-info text-white btn-custom rounded-pill" type="submit">Simpan</button>-->
<!--              </div>-->
<!--              </div>-->
            <%# end %>
<!--            </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
